# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/
*.log

# Виртуальное окружение
venv/
env/

# Секреты и переменные среды
.env

# VSCode
.vscode/

# macOS системные файлы
.DS_Store

# Byte-compiled
*.pyc